.note .post {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
    width: 620px;
}
.note {
    position: relative;
    padding-top: 10px;
}
.note .post .article .author {
    margin: 30px 0 40px;
}
.note .post .article .show-content {
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}
.note .post .article .author .tag {
    padding: 1px 2px;
    font-size: 12px;
    color: #ea6f5a;
    border: 1px solid #ea6f5a;
    border-radius: 3px;
}
.note .post .article .show-foot {
    margin: 40px 0 30px;
}
.note .post .follow-detail {
    padding: 20px;
    background-color: hsla(0,0%,71%,.1);
    border: 1px solid #e1e1e1;

    font-size: 12px;
}
.info{
    border: 1px solid hsla(0,0%,71%,.1);
    background-color: hsla(0,0%,71%,.1);
    border-radius: 4px;
}
.show-content{
    border: 1px solid hsla(0,0%,71%,.1);
    background-color: hsla(0,0%,71%,.1);
    border-radius: 4px;
}
a, body {
    color: #333;
}
*, *::after, *::before {
    box-sizing: border-box;
}